@import '~antd/lib/style/themes/default.less';


.card{
  width: 296px;
  position: fixed;
  top: 80px;
  right: 20px;
}
@media only screen and (max-width: @screen-md){
  .card{
    justify-self: stretch;
    align-self: stretch;
    min-width: 512px;
    margin: 0 auto;
    width: 100%;
    height: auto;
    max-width: 62px;
    position: relative;
    top:auto;
    right: auto;
    left: auto;
    border: 0;

  }
}
@media only screen and (max-width: @screen-sm){
  .card{
    min-width: 282px;
    width: auto;
    position: relative;
    top:auto;
    right: auto;
    left: auto;
    border: 0;
  }
}
.covercard{
  align-self: middle;
  justify-self: center;
}