@import '~antd/lib/style/themes/default.less';

.filterButton{
  display: none;
}

@media only screen and (max-width: @screen-lg){
  .filter{
    padding: 10 10;
    border-right: 0;
  }
  .filterSide{
    display: none;
    border-right: 0;
  }
  .filterButton{
    display: block;
  }
}
.content{
  overflow-wrap: break-word;
}
.main{
  overflow-wrap: break-word;
}
.cover{
  max-width: 242px;
  height: auto;
  border: 1px solid rgba(212, 212, 212, 0.65) !important;
}